.main-body{
    border-style:solid;
}
nav{
    border-style: dotted;
}
/*Navbar*/

.navbar-loggedin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    border: solid blue
}

.navbar-loggedin-item{
    display: flex;
    border: solid lightblue;
    justify-content: center;
}

.navbar-loggedin-username{
    display:flex;
    justify-content: right;
    padding-right: 20px;
}

/*Startup page & form */
.startup-form{
    border: solid 1px;
}

.startup-title{
    display: flex;
    justify-content: center;
}

.startup-form-item{
    border: 0.05em solid red;
    width: 100%;    
    display: flex;
    justify-content: center;
}

.inform-item{
    width: 30%;
    display: flex;
    justify-content: center;    
}

/*End Startup page & form */

.translation-form{
    display: flex;
    flex-direction: column;
    gap:30px 30px;
}



.translation-images{
    /* border-style: solid; */
    height: auto;
    border-style: solid;

}

.translation-images.list{
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns:10px;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis:auto ;
    height: 80%;
}

.individual-signs-item img{
    width: 50px;
    height: 50px;
}
.actions{
    display: flex;
    align-content: center;
    justify-content: center;
}
.actions-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}